@import url("https://fonts.googleapis.com/css2?family=Foldit&family=Roboto:ital@1&display=swap");

#header {
  background-color: #6c190e;
  border: solid 3px black;
}

.header-title {
  position: absolute;
  left: 75px;
  top: 8px;
  margin: 0px;
  font-family: cursive;
  color: rgb(204 218 206);
  font-size: 30px;
}

.site-logo {
  position: absolute;
  height: 45px;
  margin-top: 3px;
}

.pagenav {
  /* padding: 2px 5px 0px 5px; */
  float: left;
  margin-left: 20px;
  color: white;
}

#head {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  font-family: cursive;
  font-size: 30px;

  /* font-family: "Roboto", sans-serif;s */
}

#head a {
  margin: 10px;
  color: rgb(204 218 206);
}
