#profile-page {
  height: 100vh;
}

#profile-reviews {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

#profile-reviews div {
  color: black;
  height: 200px;
  width: 45%;
  border: solid 2px black;
}

h1 {
  color: black;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  margin-top: 50px;
}

.profile-pic {
  border: solid 2px red;
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

#profile-username {
  font-size: 40px;
  margin-bottom: 0px;
  margin-left: 20px;
}

#profile-desc {
  margin-left: 20px;
  color: black;
}
